* {
    background: #777; 
    box-sizing: border-box;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    
}

body {
    background: #777;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0%;
    margin-left: 55px;
    /* padding: 10px; */
    padding-left:20px;
    text-align: center;
    width: 960px;   
}
header {
    background: #ebebeb;
    color: #777;
    height: 80px;
    margin: 10px 20px -12px 20px;
    padding-bottom: 32px;
    padding-top: 32px;
    text-align: center;    
}
nav {
    background: #ebebeb;
    color: #777;
    height: 50px;
    margin: 23px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    text-align: center;
}
.clearfix :after {
    float: left;
    height: 22px;
    margin: 20px;
    width: 55%;
}
.clearfix1 {
    background: #ebebeb;
    color: #777;
    /* float: left; */
    height: 50px;
    margin: 36px;
    margin-bottom: -14px;
    margin-top: -2%;
    margin-left: 35px;
    padding-bottom: 50px;
    padding-right: 30px;
    padding-top: 15px;
    text-align:center;
    width: 100%;
}
section {
    background: #ebebeb;
    float: left;
    height: 275px;
    margin-left: 50px;
    margin-right: 70px;   
    padding-top: 30px;
    text-align: center;
    width: 55%;
}
h1 {
    background: #777;
    color: #ebebeb;
    float: left;
    height: 150px;
    margin: 36px;
    padding: 15px;
    text-align: center;
    text-align: center;
    width: 55%;
}

article {
    background: #777;
    color: #ebebeb;
    float: left;
    height: 230px;
    margin-left: 7px;
    margin-right: 0px;
    padding-top: 20px;
    padding-right: 74px;
    text-align: center;
    width: 110%;
}
p {
    background: #ebebeb;
    color: #777;
    float: left;
    height: 80px;
    margin: 20px;
    padding: 30px;
    text-align: center;
}
.clearfix2 {
    background: #ebebeb;
    height: 35px;
    margin-left: 5%;
    margin-left: 7%;
    margin-top: -5%;
    padding-right: 36px;
    text-align: center;
    width: 100%;
}
aside {
    background: #ebebeb;
    height: 300px;
    margin: 20px;
    margin-bottom: 20px;
    padding: 30px;
    text-align: center;
}
footer {
    background: #ebebeb;
    color: #777;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 16px;
    margin-right: 20px;
    padding-top: 15px;
    text-align: center;
}